body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: courier new, courier, monospace;
  font-size:   12px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
  color: #069; 
  text-decoration: none; 
}

a:hover {
  color: #099;
}

td {
  vertical-align: top;
}

th {
	text-align: left;
}

.row-odd {
  background-color:  #efe;
}

.row-even {
  background-color: #ffe;
}

td.field {
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}

.dataentry {
	background-color: #eff;
	padding: 10px;
	width: 450px;
}

.data td {
	padding-right: 10px;
}

.notice {
  color: green;
	margin: 20px;
	font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.legend {
	float: left;
}

.graph {
	float: clear; 
	width: 400px; 
	height: 250px;
}
